html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #222;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  margin: 0.5rem 0;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #f33;
}
footer p {
  margin: 0;
  font-size: 0.9rem;
}

main {
  max-width: 1000px;
  margin: 1rem auto;
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  flex: 1 0 auto; 
  width: 90%;
}

section h2 {
  margin-top: 0;
  color: #c00;
  border-bottom: 2px solid #c00;
  padding-bottom: 0.3rem;
}


.item {
  border-bottom: 1px solid #eee;
  padding: 0.4rem 0;
}

.item:last-child {
  border-bottom: none;
}

a {
  color: #f66;
  text-decoration: none;
}
footer {
  flex-shrink: 0; /* Zapobiega ściskaniu stopki przez flexbox */
  text-align: center;
  padding: 1rem;
  background: #111;
  color: white;
}

a:hover {
  text-decoration: underline;
}
nav ul li a.active {
    color: #ff1801; /* Kolor F1 */
    font-weight: bold;
    border-bottom: 2px solid #ff1801;
}

/* Responsywność */

@media (max-width: 768px) {
  main {
      padding: 1rem;
    }

    nav ul {
      flex-direction: column;
      align-items: center;
    }

    header h1 {
      font-size: 1.3rem;
    }
  }